body {
    font-size: 14px;
    background-color: black;
}

.social-container {
    text-align: center;
    color: #ffffff;
    background-color: hsl(0, 0%, 12%);
}

#photo {
    border-radius: 50%;
}

#name{
    color: hsl(0, 0%, 100%);
}

#city {
    color: hsl(75, 94%, 57%);
}

.social-link {
    background-color: hsl(0, 0%, 20%);
    padding: 15px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 5px;
}
