body {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.social-container {
    text-align: center;
    color: #ffffff;
    background-color: hsl(0, 0%, 12%);
    min-height: 380px;
    max-width: 400px;
    margin: 100px auto 50px;
    padding: 5px;
    border-radius: 5px;
}

#photo {
    border-radius: 50%;
}

#name{
    color: hsl(0, 0%, 100%);
}

#city {
    color: hsl(75, 94%, 57%);
    font-weight: 700; 
}

.social-link {
    display: block;
    background-color: hsl(0, 0%, 20%);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: 700;
    max-width: 250px;
    text-align: center;
    margin: 10px auto;
}

.social-link:hover {
    background-color: hsl(75, 94%, 57%);
}

.social-link a {
    color: white;
    text-decoration: none;
}

.social-link a:hover {
    color: black;
}

.attribution {
    display: block;
    margin-top: auto;
}